<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/marked@3.0.7/marked.min.js"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>             
        <title>AI Application</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    </head>    
<!-- <body class="{{ 'dark-mode' if session.get('dark_mode', False) else '' }}">
    <button id="dark-mode-toggle" style="position: fixed; top: 20px; right: 20px; z-index: 1000;">Toggle Dark Mode</button> -->

    <h1 class="text-visibility-enhanced">Sage in a py</h1>        
    <!-- Display User Input and AI Response -->
    {% if user_input %}
    <div class="chat-container user-container">
        <div class="response user-input"><strong>You:</strong> {{ user_input }}</div>
        <img src="{{ url_for('static', filename='images/user.jpg') }}" alt="User Profile Photo" class="profile-image">
    </div>
    {% endif %}

    {% if ai_response %}
    <div class="chat-container response">
        <img src="{{ url_for('static', filename='images/ai.jpg') }}" alt="AI Profile Photo" class="profile-image">
        <div><strong>AI:</strong> {{ ai_response | safe }}</div>
    </div>
    {% endif %}

    {% if in_session %}
    <div class="chat-history">
        {% for message in messages %}
        <div class="chat-container {{ 'user-input' if message.is_user else 'response' }} {{ 'user-container' if message.is_user }}">
            {% if message.is_user %}
                <div class="response user-input"><strong>You:</strong> {{ message.content | safe }}</div>
                <img src="{{ url_for('static', filename='images/user.jpg') }}" alt="User Profile Photo" class="profile-image">
            {% else %}
                <img src="{{ url_for('static', filename='images/ai.jpg') }}" alt="AI Profile Photo" class="profile-image">
                <div><strong>AI:</strong> {{ message.content | safe }}</div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p class="text-visibility-enhanced minor-text-visibility-enhanced">No active session. Click 'Start New Session' to begin.</p>
    {% endif %} 


    <div id="loading" style="display: none;">
        <div class="loader"></div>
    </div>
    
    <form id="chat-form" action="/interact" method="post">
        <input type="text" name="user_input" placeholder="Type your message" id="user_input">
        <input type="button" value="Talk to AI" id="submit-btn">
    </form>
    <!-- File upload form -->
    <form id="upload-form" action="/interact" method="post" style="margin-top: 20px;">
        <input type="file" name="character_card" accept=".png" id="character_card">
        <button type="button" id="upload-submit-btn">Upload Character Card</button>
    </form>

    <div class="button-group">
        <!-- Buttons for session management -->
        <form action="/start_session" method="get">
            <input type="submit" value="Start New Session">
        </form>
        <form action="/end_session" method="get">
            <input type="submit" value="End Current Session">
        </form>
        <!-- Button to view past conversations -->
        <form action="/past_conversations">
            <input type="submit" value="View Past Conversations">
        </form>
    </div>
    
    <div class="mode-toggle minor-text-visibility-enhanced text-visibility-enhanced">
        <label>Conscious Mode: </label>
        <input type="checkbox" id="consciousModeToggle" value="Conscious Mode">
    </div>
    
    <div class="mode-toggle minor-text-visibility-enhanced text-visibility-enhanced">
        <label>Work Mode:</label>
        <a href="/work_mode" id="workModeLink">Enter Work Mode</a>
    </div>
    
</body>
<script src="{{ url_for('static', filename='js/dark-mode-toggle.js') }}"></script>
<script src="{{ url_for('static', filename='js/chat-functions.js') }}"></script>
<script>
        document.getElementById('consciousModeToggle').addEventListener('change', function() {
            var isChecked = this.checked;
            // Potentially disable or alert about Work Mode when Conscious Mode is enabled
            if (isChecked) {
                // Optionally, alert the user or take any action before redirecting to Work Mode
                // For example, display a message or disable a link
                alert('Conscious Mode is enabled. Work Mode will be unavailable.');
            }
        });
        
        $(document).ready(function() {
            // Assuming you want some interaction before going to Work Mode page
            $('#workModeLink').on('click', function(e) {
                // Check if Conscious Mode is enabled before redirecting
                var consciousModeEnabled = $('#consciousModeToggle').is(':checked');
                if (consciousModeEnabled) {
                    e.preventDefault(); // Prevent the link from being followed
                    alert('Please disable Conscious Mode before entering Work Mode.');
                } else {
                    // Optionally, perform any checks or set any states before redirecting
                    window.location.href = $(this).attr('href'); // Follow the link to Work Mode page
                }
            });
        });
</script>

</html>